h1 User#index
p Find me in app/views/user/index.html.slim

hr
h2 USER TRADING VIEW
/! new nav
p stocks_quantiry from stock table
p sell | buy
h2 if BUY
p
  | are you sure u want to Enable buy flatform?
  | --accept?yes this will automatically create buy account
h2 if SELL
p
  | are you sure u want to Enable sell flatform?
  | --accept?yes this will automatically create sell account


hr
h2 transact.... 
p sell -> add to trasaction (-)
p buy -> add to trasaction (+)

p accept transaction? success.... 